<!doctype html>
<html>
<head>
	<title>Order Receipts Demo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-route.min.js"></script> 
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>

	<!-- JWT library for client side access and pass of JSON web tokens -->
	<script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script> 
	
	<!-- Custom logic -->
	<script src="app.js"></script>
</head>

<body ng-app="receipts" data-ng-controller="pageController">
	<div class="container">
    	
    	<nav class="navbar navbar-inverse">
			<div class="container-fluid">
			    <div class="navbar-header">
			      	<a class="navbar-brand" href="#">Order Receipts</a>
			    </div>
			    <ul class="nav navbar-nav navbar-right">
			      	<!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
			      	<li ng-show="!loggedIn()"><a href="#" ng-click="login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			      	<li ng-show="loggedIn()"><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			    </ul>
			</div>
		</nav>
    	
    	<div ng-show="!loggedIn()">
			
			<form ng-submit="login()">
				
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<span>Username: </span>
							</div>
							<div class="col-md-6">
								<input type="text" ng-model="userName"/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<span>Password: </span>
							</div>
							<div class="col-md-6">
								<input type="password" ng-model="userPass"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6"> 
						<input type="submit" value="Login"/>
					</div>
				</div>
					
			</form>
		</div>
		
		<div ng-show="loggedIn()">
				
			<h3>Welcome {{userName}}</h3>
							
			<form ng-submit="lookUp()">
				<div class="row">
					<div class="col-md-2">
						<span>Receipt Number: </span>
					</div>
					<div class="col-md-2">
						<input type="text" ng-model="receiptId"/>
					</div>
					<div class="col-md-2"> 
						<input type="submit" value="Lookup"/>
					</div>
				</div>
			</form>
			
			<br/>
			
			<table class="table table-striped">
			    <thead>
			      	<tr>
				        <th>Product</th>
				        <th>Price</th>
				        <th>Quantity</th>
			      	</tr>
			    </thead>
			    <tbody>
					<tr ng-repeat="x in receipt.items">
				    	<td>{{ x.product.name }}</td>
				    	<td>{{ x.product.price }}</td>
				    	<td>{{ x.quantity }}</td>
				  	</tr>
			  	</tbody>
			</table>
			
		</div>
			
	</div>	
			
		
</body>

</html>